<div class="toolbar" @mousedown.stop>
    <div>
        <p class="toolbar-row-title">Position</p>
        <span class="toolbar-position-inp">top
            <input :value="top" @keyup="changeTop" />

            <svgicon name="lock" :color="topIsLocked ? '#42b983 #35495e' : '#AAA'" width="15" height="15" class="position-lock-icon"
                @click.native="toggleYLock"></svgicon>
        </span>
        <span class="toolbar-position-inp">left
            <input :value="left" @keyup="changeLeft" />
            <svgicon name="lock" :color="leftIsLocked ? '#42b983 #35495e' : '#AAA'" width="15" height="15" class="position-lock-icon"
                @click.native="toggleXLock"></svgicon>
        </span>
    </div>
    <div>
        <p class="toolbar-row-title">Size</p>
        <span class="toolbar-size-inp">width
            <input :value="width" @keyup="changeWidth" />
            <svgicon name="lock" :color="aspectRatio ? '#42b983 #35495e' : '#AAA'" width="17" height="17" class="size-lock-icon" @click.native="toggleAspect"></svgicon>
        </span>
        <span class="toolbar-size-inp">height
            <input :value="height" @keyup="changeHeight" />
        </span>
    </div>

 
</div>